@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pour WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* Pour Firefox */
  html {
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
  }
  